<?xml version="1.0" encoding="utf-8" ?>
<config>
  <about>
Bluetooth MAC Address explorer
V1.1 built 1

This program is a free software
made with .NET framework
and 32feet library for bluetooth
  </about>

  <header>
BT MAC Address Explorer
  </header>
  
  <error>
No bluetooth device was found on his machine! cannot use explorer
  </error>
</config>